
#blur{
    backdrop-filter: blur(1px);
    width: var(--width);
    height: var(--height);
}

#parallax-7{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/7.png);
}

#parallax-6{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/6.png);
    background-size: var(--width) var(--height) ;
}

#parallax-5{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/5.png);
    background-size: var(--width) var(--height) ;
}

#parallax-4{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/4.png);
    background-size: var(--width) var(--height) ;
}

#parallax-3{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/3.png);
    background-size: var(--width) var(--height) ;
}

#parallax-2{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/2.png);
    background-size: var(--width) var(--height) ;
}

#parallax-1{
    width: var(--width);
    height: var(--height);
    position: absolute;
    background-image: url(../assets/parallax/1.png);
    background-size: var(--width) var(--height) ;
}