@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

:root{
    --width: 1600px;
    --height: calc(var(--width) * 9 / 16);
}

*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 25px;
}

body{
    background-image: url(../assets/backgroud-game.png);
    backdrop-filter: blur(10px);
    height: 100vh;
}

button{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin:5px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#background-game{
    backdrop-filter: blur(10px);
    width: var(--width);
    height: var(--height);
}

#container{
    width: var(--width);
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#start{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}