:root{
    --sprite-player: url(../assets/sprite-player3.png);
    --proportion-player: 0.13;
    --width-sprite-player: calc(var(--width) * var(--proportion-player));
    --height-sprite-player: calc(var(--height) * var(--proportion-player));
}

#player{
    width: var(--width-sprite-player);
	height: var(--height-sprite-player);/*151px;*/
	position:absolute;
	top:250px;
    
}

.animation-player{
    background-image: var(--sprite-player);
    background-size: cover;
    animation: play .5s steps(2) infinite;
}

@keyframes play {
    from {background-position: 0px;}
    to {background-position: calc(var(--width-sprite-player) * 2)}
}
