:root{
    --sprite-friend: url(../assets/sprite-friend.png);
    --proportion: 0.25;
    --width-image-friend: calc(363px * var(--proportion));
    --height-image-friend: calc(458px * var(--proportion));
    --num-frames: 10;
    --speed: 0.8s;
}

#friend {
	width: var(--width-image-friend);
	height: var(--height-image-friend);
	position: absolute;
	left: 10px;
	top: calc(var(--height) - calc(var(--height-image-friend)) - 60px);
}
.animation-friend{
    background-image: var(--sprite-friend);
    background-size: cover;
    animation: playFriend var(--speed) steps(var(--num-frames)) infinite;
}

@keyframes playFriend {
    from {background-position: 0px;}
    to {background-position: calc(var(--width-image-friend) * var(--num-frames) * -1);}
}